.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(65, 135, 255);
    padding: 0 16px;
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav a,
.main-nav button {
    border: none;
    background-color: transparent;
    display: inline-block;
    padding: 8px 8px;
    color: #fff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.main-nav a.active {
    text-decoration: underline;
}

.main-nav a:hover {
    text-decoration: underline;
}