<%- include('includes/head.ejs'); %>
            <h1>Add product</h1>
            <form action="/admin/product" method="post">
                <input name="title" />
                <button type="submit">Submit</button>
            </form>
<%- include('includes/end.ejs'); %>