extends layouts/main-layout.pug

block content
    h1 My Products

    if prods.length
        div.product-grid
            each product in prods 
                div.product-grid__item
                    article.product-card 
                        header.product-card__header
                            h3 #{product.title}
                        div.product-card__img
                            img(src="https://www.cityofboise.org/media/14754/shutterstock_523462210.jpg" alt="product img")
                        div.product-card__content
                            span.product-card__price $19.99
                            p.product-card__desc A description for the product.
                        div.product-card__actions
                            button.main-btn Add to cart
    else
        h3 No products available
                