<%- include('includes/head.ejs'); %>
        <h1>My Products</h1>
        
        <% if (prods.length) {%>
        <div class="product-grid">
            <% prods.forEach(product => { %>
            <div class="product-grid__item">
                <article class="product-card ">
                    <header class="product-card__header">
                        <h3><%= product.title %></h3>
                    </header>
                    <div class="product-card__img">
                        <img src="https://www.cityofboise.org/media/14754/shutterstock_523462210.jpg" alt="product img" />
                    </div>
                    <div class="product-card__content">
                        <span class="product-card__price">$19.99</span>
                        <p class="product-card__desc">A description for the product.</p>
                    </div>
                    <div class="product-card__actions">
                        <button class="main-btn ">Add to cart</button>
                    </div>
                </article>
            </div>
            <% }) %>
        </div>
        <% } else { %>
        <h3>No products available</h3>
        <% } %>
<%- include('includes/end.ejs'); %>