<%- include('../includes/head.ejs'); %>
    <h1>Orders</h1>
    <% if(!orders?.length){%>
        <h3>You have no orders.</h3>
    <%} else {%>
        <%orders.forEach((order) => {%>
            <h3>Order: <%=order.id%></h3>
            <ul>
                <%order.products.forEach(product => {%>
                    <li><%=product.title%></li>
                <%})%>
            </ul>
        <%})%>
    <%}%>
<%- include('../includes/end.ejs'); %>