<%- include('../includes/head.ejs'); %>
<div class="simple-section">
    <h1>Reset Password</h1>
    <div class="form-card">
        <% if(errorMessage){ %>
            <div class="txt-error">
                <%=errorMessage%>
            </div>
        <% } %>
        <form action="/auth/reset-password" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <div class="form-ctrl form-ctrl--fullwidth">
                <Label for="email">Email</Label>
                <input id="email" name="email" />
            </div>   
            <div class="form-ctrl form-ctrl--fullwidth">
                <button class="main-btn" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
<%- include('../includes/end.ejs'); %>